#content{
	background-color: bisque;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

#maxtrix{
	border: 1px solid #ddd;
	display: inline-block;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	
}

.cell{
	outline: 1px solid red;
	float: left;
	width: 30px;
	height: 30px; 
}

